<html>
    <head>
        <title>BecTec</title>
    </head>

    <style>
        
        .login{
            
            
            
            
            width: 200px;
            
            
        }
        li {
            list-style: none;
            clear: both;
            margin: 10px;
        }


        .us_pass{
            
            float: right;
            width: 100px;

        }

        .boton{
            margin-left: 25px;
            
            
        }

    

    </style>
    <h3>Bienvenido a BecTec!</h3>
    <body>
        <form action="/comprobar-credenciales" method="POST" id="form">
            <div class="login">
                <li>
                    <label for= "usuario" >Usuario: </label>
                    <input type="text" id="usuario" name="usuario" class="us_pass">
                </li>
                
            
                
            

                <li><label for="password">Contraseña: </label>
                <input type="text" id="password" name="password" class="us_pass"></li>




            

            
                <li><input type="submit" id="submit" value="Login" class="boton">
                    <button onclick="registro()" class="boton">Register</button>
                </li>
                

            </div>


        </form>





    </body>



</html>